.container--app {
    background-color: #F8F8F8; /* Fondo ligeramente gris para contraste */
    padding: 2rem;
}


.app--h1{
    text-align: center;
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.app--lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0;
}

.app--lista li {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px; /* Máximo ancho de los elementos para mantener la legibilidad */
}


.app--lista li div{
    width: 100%;
    max-width: 100%;
    border: 1px solid #312525;
    padding: 1rem;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.app--lista li h2{
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.app--lista li p{
    font-size: 1rem;
    line-height: 1.5;
}



@media (max-width: 768px) {
    .app--h1 {
        font-size: 2rem; /* Tamaño de fuente más pequeño en pantallas más pequeñas */
    }

    .app--lista {
        flex-direction: column; /* Apilar elementos verticalmente en pantallas pequeñas */
        gap: 1.5rem; /* Menos espacio entre elementos */
    }

    .app--lista li {
        max-width: 90%; /* Ajusta el ancho en pantallas pequeñas */
    }
}