.container--blog{
    background-color: #F2D7D9;
    padding: 2rem;
}

.blog--h1{
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.blog--lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0;
}

.blog--lista li {
    width: 100%; /* Ancho completo para cada elemento */
}

.blog--lista li div{

    max-width: 500px;
    border: 1px solid #985a5a;
    padding: 1rem;
    border-radius: 10px;
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 0 auto;
}

.blog--lista li h2{
    font-size: 1.5rem;
    font-weight: 800;
    padding-bottom: 1rem;
}

.blog--lista li p{
    font-size: 1rem;
    line-height: 1.5;
}



@media (min-width: 768px) {
    .blog--lista {
        flex-direction: row; /* Cambia a fila en pantallas más grandes */
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias filas */
        justify-content: space-between; /* Espacio uniforme entre los elementos */
    }

    .blog--lista li {
        flex: 1 1 calc(50% - 1rem); /* Dos columnas con espacio entre ellas */
        margin: 0.5rem; /* Espacio entre las tarjetas */
    }
}

@media (min-width: 1024px) {
    .blog--lista li {
        flex: 1 1 calc(33.333% - 1rem); /* Tres columnas en pantallas grandes */
    }
}