.patrones--container{
    background-color: #D9D9D9 ;
    padding: 2rem;
}

.patrones--h1{
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.patrones--lista{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0;

}

.patrones--lista div{
    width: 20rem;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición para hover */
    display: flex; /* Asegurarse de que se aplique flex para la alineación del contenido */
    flex-direction: column; /* Para que el contenido esté en columna */
    align-items: center;
}
.patrones--lista div h3{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5rem;
}

.patrones--lista div h3 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.patrones--lista div p {
    text-align: center;
    margin-top: 0.5rem;
}


.patrones--lista div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #fff;
}

.patrones--lista div img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}


.patrones--lista div:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}






@media (max-width: 768px) {
    .patrones--lista {
        flex-direction: column;
        padding: 2rem 5%;
    }

    .patrones--lista div {
        width: 90%;
    }
}
