.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
}

.homeInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 3rem; */
    gap: 2rem;
    text-align: center; /*Esto añadi*/
}

.infoh1{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.infodescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    /* width: 50rem; */
    width: 100%; /*Esto añadi*/
    max-width: 50rem; /*Esto añadí*/
    text-align: left;
}

.infodescription h3{
    font-size: 1.5rem;
    font-weight: 500;
}

.infodescription p{
    font-size: 1rem;
    line-height: 1.5;

}

.home img{
    width: 100%;
    max-width: 25rem;
}


@media (max-width: 768px) {
    .home {
        flex-direction: column; /* Cambia la dirección del layout en pantallas pequeñas */
        padding: 1rem; /* Ajusta el padding */
    }

    .home img {
        width: 100%; /* Ajusta el ancho de la imagen */
        max-width: none; /* Elimina el límite de ancho máximo */
    }

    .infoh1 {
        font-size: 1.8rem; /* Ajusta el tamaño del texto */
    }

    .infodescription h3 {
        font-size: 1.4rem; /* Ajusta el tamaño del texto */
    }

    .infodescription p {
        font-size: 0.9rem; /* Ajusta el tamaño del texto */
    }
}