.Header{
    background-color: #a57c6c;
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 14rem;
    color:#FFFFFF;
    transition: all 0.3s ease-in-out;


}

.navBar{
    display: flex;
    gap: 2rem;
}

.Header img{
    width: 3rem;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .Header{
        flex-direction: column;
        height: auto;
        padding: 1rem 2rem;
        margin: 0;
        text-align: center;
    }

  
}